@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #36656B;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    padding: 2% 0% 0% 15%;
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao {
    /* margin: 10% 15%; */
    padding: 5% 15%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria)
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria)
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__link__navegacao {
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 21.5px 0;
    width: 50%;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
}

.apresentacao__link__navegacao:hover {
    background-color: #272727;
    padding: 3%;
    cursor: pointer;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse; /*troca os elementos. */
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }


}